@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */


body {
  font-family: "Outfit", sans-serif;
}

h1, h2, h3 {
  font-family: "Prata", serif;
}


.outfit {
  font-family: "Outfit", sans-serif;
}

.prata {
  font-family: "Prata", serif;
}


/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* ================= NOTICE MARQUEE ================= */

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite; /* faster speed */
}