@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Body default style */
body {
  font-family: 'Poppins', sans-serif;
}

/* ================= NOTICE MARQUEE ================= */

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 14s linear infinite; /* faster speed */
}